<header>
  <h1>Bem-vindo à Página Inicial, <%= @nome %></h1>
</header>
<main>
  <h2>Lista dos desenvolvedores</h2>
  <% @devs.each do |dev| %>
    <p>
      <%= dev[:nome] %> - <%= dev[:dev] %>
    </p>
  <% end %>
</main>
